#logopullout {
  position: fixed;
  display: block;
  background-color: rgba(228, 78, 156, 0.7);
  height: 35px;
  width: 35px;
  bottom: 15px;
  left: 22px;
  z-index: 100;
  border-radius: 10px;
}

#logopullout:hover{
  width: 200px;
  animation-duration: 6s;
  transition: all 2s;
}

#home {
  font-family: 'Pragati Narrow', sans-serif;
  font-weight: bold;
  font-size: 20px;
  position: fixed;
  z-index: 100;
  color: white;
  bottom: 15px;
  left: 100px;
}

#about {
  font-family: 'Pragati Narrow', sans-serif;
  font-weight: bold;
  font-size: 20px;
  position: fixed;
  z-index: 100;
  color: white;
  bottom: 15px;
  left: 175px;
}
