html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
}

/*LANDING PAGE*/

#bg{
  z-index: -1;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  opacity: .7;
}


#f1{
  font-family: 'Pragati Narrow', sans-serif;
  font-size: 40px;
  color: #2ecc71;
  text-align: center;
}

#f2{
  font-family: 'Pragati Narrow', sans-serif;
  font-size: 35px;
  color: #2ecc71;
  text-align: center;
}

/*QUESTIONS*/


#sidebar{
  background-color: #fc74fc;
  position: fixed;
  width: 400px;
  height: 800px;
  right: 0;
  top: 0;
  z-index: 99;

}
