html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
}

#f1{
  font-family: 'Just Another Hand', cursive;
  font-size: 50px;
}

#f2{
  font-family: 'Just Another Hand', cursive;
  font-size: 50px;
}
