 /*Google Maps Marker Pop Up Style */
#content {
  /*width: 100%;*/
  margin: auto;
  margin-left: 23px;
  /*background-color:rgba(192,192,192,0.3);*/
}

#markerName {
  text-align: center;
  padding: 1%;
}

#imgArea img{
  display: block;
  margin: 0 auto;
}

/*.gm-style-iw + div {
  display: none;
}*/

/* Sidebar Section */
article h1{
  font-size: 1.2em;
  color: rgb(192,192,192);
  text-align: center;
  text-shadow: 2px 2px black;
}

article a img{
  display: block;
  margin: auto;
  -moz-box-shadow: 1px 1px 1px 1px black;
  -webkit-box-shadow: 1px 1px 1px 1px black;
  box-shadow: 1px 1px 1px 1px black;
  margin-bottom: 5%;
}

article address{
  color: rgb(228,78,156);
  font-size: .8em;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px black;
}

article text{
  color: rgb(228,78,156);
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px black;
}
